.post {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.author-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.author {
  font-size: 16px;
}

.ups {
  font-size: 16px;
}

a {
  text-decoration: none;
}
